<!DOCTYPE html>
<html lang="en">
<head>
        <title>Archi-tetto</title>
    </head>
    <body>
        <div>
            <h1><a href="http:/archi-tetto.ru">Archi-tetto</a></h1>
        </div>

        <div>
            <br>
            <h2><a href="http:/archi-tetto.ru">My first post</a></h2>
            <p>The context of the blog</p>
            <p>published: 29.02.2020, 22:14</p>
        </div>

        <div>
            <br>

            <h2><a href="http:/archi-tetto.ru">My second post</a></h2>
            <p>The context of the second note</p>
            <p>published: 29.02.2020, 22:16</p>
        </div>
    </body>
</html>